#label {
  position: relative;
  padding: 30px;
  font-family: monospace;
  border: 1px solid #000000;
}

.pb-3 {
  padding-bottom: 0.75rem; /* 12px */
}

.pb-0 {
  padding-bottom: 0;
}


.bigger {
  font-size: 1.2rem;
}

.slightly-smaller {
  font-size: 0.9rem;
}


.color-black {
  color: black;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}


.white-space-pre-wrap {
  white-space: pre-wrap;
}

.sans-serif {
  font-family: sans-serif !important;
}
