#label {
  position: relative;
  padding: 60px;
  margin: 60px;
  min-width: 12cm;
  font-family: monospace;
  border: 1px solid #000000;
}

#label code {
  border: none !important;
}

#plus-top-left,
#plus-top-right,
#plus-bottom-left,
#plus-bottom-right {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

#plus-top-left {
  top: 5px;
  left: 5px;
}

#plus-top-right {
  top: 5px;
  right: 5px;
}

#plus-bottom-left {
  bottom: 5px;
  left: 5px;
}

#plus-bottom-right {
  bottom: 5px;
  right: 5px;
}

#registration-mark-top-left,
#registration-mark-top-right,
#registration-mark-bottom-left,
#registration-mark-bottom-right {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

#registration-mark-top-left {
  top: -20px;
  left: -20px;
}

#registration-mark-top-right {
  top: -20px;
  right: -20px;
}

#registration-mark-bottom-left {
  bottom: -20px;
  left: -20px;
}

#registration-mark-bottom-right {
  bottom: -20px;
  right: -20px;
}

#kcmy-test-bar {
  position: absolute;
  top: -0.2cm;
  left: 0.35cm;
}

#main-container {
  font-family: sans-serif !important;
}

#header-section {
  padding-bottom: 0.75rem; /* 12px */
  font-size: 1.2rem;
}

#dates-section {
  padding-bottom: 0.75rem; /* 12px */
}

#qr-code-section {
  padding-top: 10ch;
}

#url-section {
  padding-bottom: 0.75rem; /* 12px */
}

#url-section a {
  text-decoration: none;
}

#manufacturer-title {
  font-size: x-large;
  padding-bottom: 0.75rem; /* 12px */
}

#item-name {
  font-size: xx-large;
  padding-bottom: 0;
}

#description {
  padding-bottom: 0.75rem; /* 12px */
  white-space: pre-wrap;
}

#item-url {
  color: black;
}

#formal-name,
#manufacture-date,
#manufacture-location,
#material-list,
#release-date,
#acquisition-info {
  display: block;
}
