/** Import a nice serif font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
/** Import a more elegant monospace font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
  /** set a nicer serif font */
  font-family: 'Gerogia', 'Lora', serif;
  /** set a reasonable max-width */
  max-width: min(80vw, 100ch);
  margin: 2vw auto;
  /** set a nice light tan background color */
  background-color: #fffff8;
  text-transform: lowercase;
}

h1 {
  padding-bottom: 1.5rem;
}

h2 {
  padding-bottom: 1rem;
}

.padding-bottom-2rem {
  margin-bottom: 2rem;
}

.padding-bottom-1rem {
  margin-bottom: 1rem;
}

.padding-bottom-05rem {
  margin-bottom: 0.5rem;
}

.card dl {
  font-size: 0.7rem;
}

dl {
  /** Description lists should be displayed as a grid */
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: min-content;
  gap: 0.3ch;
  column-gap: 1ch;
}

dl > dt {
  /** Description terms should be bold */
  font-weight: bold;

}

dl > dd {
  max-width: 40ch;
  /** Description details should be monospace */
  font-family: 'Inconsolata', monospace;
  font-size: 1.15em;
  text-transform: none;
}

.card-grid {
  /** Display the cards as a grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1em;
  list-style-type: none;
}

.card {
  padding: 1rem;
  margin: 1px;
}

.thumbnail {
  margin: 1px;
}

.thumbnail:hover {
  margin: 0px;
  border: 1px solid #333;
}

.flex-wrap-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1ch;
}

.short {
  max-width: 40ch;
}


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}
