@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* SHIT THAT SHOULD NEVER HAVE BEEN REMOVED FROM THE HTML SPEC */

blink, .blink { animation: blink 1s step-end infinite; }

@keyframes blink {
  67% { opacity: 0 }
}

/* GLOBAL OVERRIDES */

body {
  font-family: 'Lora', serif;
  max-width: min(80vw, 100ch);
  margin: 2vw auto;
  background-color: oldlace;
}

footer {
  padding-top: 2ch;
  padding-bottom: 1ch;
}

h1 {
  padding-bottom: 1.5rem;
}

h2 {
  padding-bottom: 1rem;
}

h3 {
  padding-bottom: 0.5rem;
}

a:active {
  color: red;
}

code {
  font-family: 'Inconsolata', monospace;
}

kbd {
  font-family: monospace;
  font-size: 0.9em;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 0 2px;
  box-shadow: inset 0 -1px 0 #d1d5db;
  color: #333;
  display: inline-block;
  text-transform: uppercase;
}

aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  margin-left: 5px;
  border-left: black 1px solid;
}

dl {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.3ch;
  column-gap: 1ch;
}

dl > dt {
  font-weight: bold;
}

dl > dd {
  max-width: 40ch;
  font-family: 'Inconsolata', monospace;
  font-size: 1.15em;
}

hr {
  margin-bottom: 3ch;
  margin-top: 3ch;
}


details[open] > summary {
  text-decoration: underline;
  margin-bottom: 0.5ch;
}

details[open] {
  margin-bottom: 2ch;
}

pre {
  text-transform: none;
}


/* UTILITIES */

.block {
  display: block;
}

.short {
  max-width: 50ch;
}

.yelling {
  text-transform: uppercase;
  font-weight: bold;
}

.truncate {
  max-height: 24rem;
  overflow-y: auto;
}

.border {
  border: 1px solid #333;
}

.red {
  color: red;
}

.green {
  color: green;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** APP SPECIFIC STYLES */

.size {
  color: saddlebrown;
}

.fade-model-viewer model-viewer { 
  animation: fade 2s infinite; 
}

@keyframes fade {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.1; }
}


.padding-bottom-1rem {
  margin-bottom: 1rem;
}

.card dl {
  font-size: 0.7rem;
}

.cols {
  display: flex;
  gap: 4ch;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  list-style-type: none;
}

@media (max-width: 800px) {
  .item-view .card-grid {
    display: none;
  }

  kbd {
    display: none !important;
  }
}

.see-more {
  padding-top: 3ch;
}

.description {
  white-space: pre-wrap;
}

.model-viewer-wrapper {
  padding: 1px;
}

.model-viewer-wrapper:hover {
  padding: 0px;
  border: 1px solid #333;
  z-index: 9;
}

.model-viewer-wrapper .camera-keys {
  display: none;
  padding: 7px;
}

.model-viewer-wrapper:focus-within .camera-keys {
  position: absolute;
  display: inline-block;
}

.item-hero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.collection-row {
  padding-bottom: 3ch;
}

.item-hero > *:nth-child(1) {
  grid-area: previous;
}

.item-hero > *:nth-child(2) {
  grid-area: model;
}

.item-hero > *:nth-child(3) {
  grid-area: meta;
}

.item-hero > *:nth-child(4) {
  grid-area: next;
}

@media (max-width: 1100px) {
  .item-hero {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: 
      "model meta"
      "previous next";
    gap: 1ch;
    align-items: center;
    justify-items: center;
  }
}

@media (max-width: 800px) {
  .item-hero {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: 
      "model model"
      "previous next"
      "meta meta";
    gap: 1ch;
    align-items: center;
    justify-items: center;
  }
}


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}
