/** Import a nice serif font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
/** Import a more elegant monospace font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
  /** set a nicer serif font */
  font-family: 'Gerogia', 'Lora', serif;
  /** set a reasonable max-width */
  max-width: min(80vw, 100ch);
  margin: 2vw auto;
  /** set a nice light tan background color */
  background-color: #fffff8;
  text-transform: lowercase;
}

h1 {
  padding-bottom: 1.5rem;
}

h2 {
  padding-bottom: 1rem;
}

h3 {
  padding-bottom: 0.5rem;
}

.padding-bottom-1rem {
  margin-bottom: 1rem;
}

.card dl {
  font-size: 0.7rem;
}

dl {
  /** Description lists should be displayed as a grid */
  display: grid;
  grid-template-columns: auto auto;
  /* grid-auto-rows: min-content; */
  gap: 0.3ch;
  column-gap: 1ch;
}

dl > dt {
  /** Description terms should be bold */
  font-weight: bold;

}

dl > dd {
  max-width: 40ch;
  /** Description details should be monospace */
  font-family: 'Inconsolata', monospace;
  font-size: 1.15em;
  text-transform: none;
}

.card-grid {
  /** Display the cards as a grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1em;
  list-style-type: none;
}

.card {
  padding: 1rem;
  margin: 1px;
}

.thumbnail {
  margin: 1px;
}

.thumbnail:hover {
  margin: 0px;
  border: 1px solid #333;
}

.item-hero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}


@media (max-width: 1200px) {
  .item-hero {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: 
      "previous next"
      "model meta";
    gap: 1ch;
    align-items: center;
    justify-items: center;
  }

  .item-hero > *:nth-child(1) {
    grid-area: previous;
  }

  .item-hero > *:nth-child(2) {
    grid-area: model;
  }

  .item-hero > *:nth-child(3) {
    grid-area: meta;
  }

  .item-hero > *:nth-child(4) {
    grid-area: next;
  }
}

.short {
  max-width: 40ch;
}

.truncate {
  max-height: 24rem;
  overflow-y: auto;
}

.border {
  border: 1px solid #333;
}

.red {
  color: red;
}

.green {
  color: green;
}

pre {
  text-transform: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}
